<p-sidebar (onHide)="onClose()" [(visible)]="toDoService.showAddNewItemForm">
  <ng-template pTemplate="header">
    <div class="font-bold text-2xl">{{title()}}</div>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="flex flex-column h-full">
      <form [formGroup]="itemForm">
        <div class="add-form">
          <div class="grid">
            <div class="col-6">
              <div class="flex flex-column gap-2">
                <label for="title">title</label>
                <input type="text" pInputText formControlName="title" />
              </div>
            </div>
            <div class="col-6">
              <div class="flex flex-column gap-2">
                <label for="category">Category</label>
                <input type="text" pInputText formControlName="category" />
              </div>
            </div>
            <div class="col-6">
              <div class="flex flex-column gap-2">
                <label for="startDate">Start Date</label>
                <p-calendar formControlName="startDate" styleClass="w-full" />
              </div>
            </div>
            <div class="col-6">
              <div class="flex flex-column gap-2">
                <label for="endDate">End Date</label>
                <p-calendar formControlName="endDate" styleClass="w-full" />
              </div>
            </div>

            <div class="col-6">
              <div class="flex flex-column gap-2">
                <label for="dependsOn">Depends On</label>
                <p-multiSelect
                  [options]="dropdownItems()"
                  formControlName="dependsOn"
                  optionLabel="title"
                  [optionValue]="'id'"
                  placeholder="Select DependsOn"
                  styleClass="w-full"
                />
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex justify-content-end gap-3">
      <p-button
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        severity="secondary"
        (click)="onClose()"
      ></p-button>
      <p-button
        label="Save"
        icon="pi pi-check"
        class="p-button-text"
        severity="success"
        (click)="addItem()"
      ></p-button>
    </div>
  </ng-template>
</p-sidebar>
